APP_NAME=Boilerplate NestJS
APP_PORT=3000
NODE_ENV=development

DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=nest
DB_PASSWORD=password
DB_NAME=nest-db
DB_TIMEZONE=+07:00
TZ=Asia/Jakarta

JWT_SECRET=JWT_SECRET
JWT_EXPIRES_IN=30s
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_SECRET_EXPIRES_IN=120s

COOKIE_DOMAIN=localhost
